/*  Map Google  */
#map{
  height: 500px;
  width: 100%;
}

#map2{
  height: 200px;
  width: 200px;
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

